<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Interactive Menu Bar</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="menu-bar">
    <div id="logo">POINTER+</div>
    <a href="#" class="menu-item" data-name="events">Wydarzenia</a>
    <a href="#" class="menu-item" data-name="blog">Blog</a>
    <a href="#" class="menu-item" data-name="meet-us">Poznaj nas</a> 
    <a href="#" class="menu-item" data-name="projects">Projekty</a>
    <a href="#" class="menu-item" data-name="contact">Kontakt</a>
    <div id="language-switch">
      <a href="#" class="language" data-lang="pl">PL</a> /
      <a href="#" class="language" data-lang="en">EN</a>
    </div>
  </div>
<script src="script.js"></script>
</body>
</html>


