body {
    font-family: Arial, sans-serif;
    margin: 0; 
    background-color: #f8f8f8; 
  }
  
  #menu-bar {
    display: flex;
    align-items: center;
    justify-content: start; 
    background-color: #fff;
    padding: 10px 20px;
  margin-top: 30px;
  
    
  }
  
  #menu-bar #logo {
    margin-right: auto; 
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu-item {
    margin: 0 10px; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    border-radius: 20px; 
    text-decoration: none; 
    color: black; 
    border: 1px solid #d1d1d1; 
    flex-grow: 0; 
    flex-shrink: 0; 
    transition: flex-grow 0.3s, background-color 0.3s, color 0.3s;
  }
  
  .menu-item:hover, .menu-item.active {
    flex-grow: 1;
    background-color: #000;
    color: #fff;
    border: 1px solid #000; 
    text-decoration: none; 
  }
  
  
  #language-switch {
    margin-left: auto; 
    cursor: pointer;
  }
  
  .language:not(:last-child) {
    margin-right: 5px;
  }
  
  .language:hover, .language.active {
    text-decoration: none; 
  }
  